* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../img/bg.jpg);
  background-size: cover;
}

section div {
  max-width: 800px;
}

section div h2 {
  color: #fff;
  font-size: 4em;
}

section div p {
  font-size: 1.2em;
  color: #fff;
  opacity: 0.5;
}

.scroll-down {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scroll-down span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scroll-down span:nth-child(1) {
  transform: translate(-10px, -10px);
  animation-delay: 0.4s;
}

.scroll-down span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: 0.2s;
}

.scroll-down span:nth-child(3) {
  transform: translate(10px, 10px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}