* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1:hover {
  filter: blur(10px);
  transform: scale(1.2);
}

section h1 {
  position: relative;
  color: #FFF;
  font-size: 10em;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 2;
  transition: 2s;
}

section img {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 140%;
  height: 140%;
  pointer-events: none;
  filter: blur(20px);
  transition: 2s;
}

section h1:hover ~ img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: blur(0px);
}