* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
  scroll-snap-type: y mandatory;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  background-blend-mode: multiply;
}

.container .section:nth-child(1) {
  background: rgb(219, 205, 8) url("./../img/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(2) {
  background: rgb(8, 219, 19) url("./../img/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(3) {
  background: rgb(8, 92, 219) url("./../img/bg3.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(4) {
  background: rgb(201, 8, 219) url("./../img/bg4.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(5) {
  background: rgb(219, 8, 8) url("./../img/bg5.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container .content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  max-width: 700px;
}

.container .content h2 {
  background: #fff;
  color: #111;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  font-size: 2em;
}

.container .content p {
  background: #fff;
  color: #111;
  font-weight: 300;
  padding: 10px 20px;
  margin-top: 10px;
}
