* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center top;
  height: 100vh;
  color: white;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ebbe9b;
  background-image: linear-gradient(0deg, #ebbe9b 0%, #e7a977 74%);
  transition: all 250ms;
  transform: translateZ(0) translateX(-100%);
  text-align: center;
  width: 300px;
}

.active {
  transform: translateZ(0) translateX(0);
}

h1 {
  margin: 200px 0 50px;
  font-weight: 400;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  font-size: 14px;
}

li {
  padding: 7px 10px;
}

a {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  font-size: 28px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: line-through;
}

.content{
  position: relative;
  width: 500px;
}

.button {
  width: 50px;
  height: 50px;
  margin: 70px 125px;
  padding: 10px;
  cursor: pointer;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #4d2b0c;
  transition: transform 0.3s ease, background 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

.line.first {
  transform: translateX(-10px) translateY(22px) rotate(-90deg);
}

.line.second {
  transform: translateX(-10px) translateY(19px) rotate(0deg);
}

.button.on .line.top {
  width: 40px;
  transform: translateX(-10px) translateY(20px) rotate(45deg);
}

.button.on .line.botton {
  width: 40px;
  transform: translateX(-10px) translateY(17px) rotate(-45deg);
}